@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.logo {
   display: flex;
   align-items: center;
   &__img {
      margin-right: 10px;
   }
   &__name {
      color: #436372;
      font-size: 36px;
      line-height: 58px;
      @extend %rubik-500;
   }
}

.header {
   padding: 47px 0 50px;
   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}

.menu {
   &__list {
      display: flex;
   }
   &__list-item + .menu__list-item {
      padding-left: 35px;
   }
   &__list-link {
      color: $default;
      font-size: 15px;
      line-height: 21px;
      @extend %rubik-500;
   }
}

.user-nav {
   display: flex;
   &__item + .user-nav__item{
      margin-left: 20px;
   }
   &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
   }
   &__item:nth-child(1) {
      background-color: #edf1f4;
   }
   &__item:nth-child(2){
      background-color: #fcd7b6;
      width: 180px;
      border-radius: 30px;
   }
   &__item:nth-child(3) {
      background-color: $second;
   }
   &__smart-item {
      position: relative;
      padding: 12px 30px 3px;
   }
   &__smart-item + .user-nav__smart-item {
      border-left: 1px solid #fde7d3;
   }
   &__num {
      position: absolute;
      top: 4px;
      right: 21px;
      width: 16px;
      height: 16px;
      background-color: #fff;
      border-radius: 50%;
      text-align: center;
      font-size: 10px;
      line-height: 16px;
      color: #243f4d;
      @extend %DMSans-400;
   }
}

.footer-top {
   display: flex;
   padding: 80px 0 70px;
   border-bottom: 1px solid #dae4e9;
   a {
      display: block;
      color: $subsidiary;
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 14px;
      @extend %rubik-400;
   }
   &__contact {
      max-width: 200px;
      width: 100%;
      margin-right: 100px;
   }
   &__nav {
      max-width: 170px;
      width: 100%;
      margin-right: 130px;
   }
   &__item-form {
      max-width: 270px;
      width: 100%;
   }
   &__logo {
      display: flex !important;
      margin-bottom: 18px;
   }
   &__title {
      font-size: 16px;
      line-height: 22px;
      text-transform: uppercase;
      padding: 20px 0;
      @extend %DMSans-700;
   }
   &__text {
      color: $subsidiary;
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 35px;
   }
   &__form {
      display: flex;
   }
   &__input {
      padding: 10px 11px;
      border: none;
      background-color: $bg;
      max-width: 170px;
      line-height: 1;
      width: 100%;
      @extend %DMSans-400;
      &::placeholder {
         font-size: 12px;
         line-height: 16px;
         color: #234969;
         @extend %DMSans-400;
      }
   }
   &__btn {
      color: #fff;
      background-color: $second;
      border: none;
      font-size: 14px;
      line-height: 1;
      padding: 10px 18px;
      cursor: pointer;
      @extend %DMSans-400;
   }
}

.footer-bottom {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 90px;
   &__list {
      display: flex;
   }
   &__list-item {
      padding-left: 32px;
   }
   &__list-item + .footer-bottom__list-item {
      position: relative;
      &::before {
         content: '';
         position: absolute;
         width: 1px;
         height: 16px;
         background-color: $subsidiary;
         top: 6px;
         left: 17px;
      }
   }
   &__list-link {
      color: $subsidiary;
      font-size: 14px;
   }
}







@import 'media';