@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.logo {
   display: flex;
   align-items: center;
   &__img {
      margin-right: 10px;
   }
   &__name {
      color: #436372;
      font-size: 36px;
      line-height: 58px;
      @extend %rubik-500;
   }
}

.header {
   padding: 47px 0 50px;
   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}

.menu {
   &__list {
      display: flex;
   }
   &__list-item + .menu__list-item {
      padding-left: 35px;
   }
   &__list-link {
      color: $default;
      font-size: 15px;
      line-height: 21px;
      @extend %rubik-500;
   }
}

.user-nav {
   display: flex;
   &__item + .user-nav__item{
      margin-left: 20px;
   }
   &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
   }
   &__item:nth-child(1) {
      background-color: #edf1f4;
   }
   &__item:nth-child(2){
      background-color: $dark-bg;
      width: 180px;
      border-radius: 30px;
   }
   &__item:nth-child(3) {
      background-color: $second;
   }
   &__smart-item {
      position: relative;
      padding: 12px 30px 3px;
   }
   &__smart-item + .user-nav__smart-item {
      border-left: 1px solid #fde7d3;
   }
   &__num {
      position: absolute;
      top: 4px;
      right: 21px;
      width: 16px;
      height: 16px;
      background-color: #fff;
      border-radius: 50%;
      text-align: center;
      font-size: 10px;
      line-height: 16px;
      color: #243f4d;
      @extend %DMSans-400;
   }
}

.footer-top {
   display: flex;
   padding: 80px 0 70px;
   border-bottom: 1px solid #dae4e9;
   a {
      display: block;
      color: $subsidiary;
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 14px;
      @extend %rubik-400;
   }
   &__contact {
      max-width: 200px;
      width: 100%;
      margin-right: 100px;
   }
   &__nav {
      max-width: 170px;
      width: 100%;
      margin-right: 130px;
   }
   &__item-form {
      max-width: 270px;
      width: 100%;
   }
   &__logo {
      display: flex !important;
      margin-bottom: 18px;
   }
   &__title {
      font-size: 16px;
      line-height: 22px;
      text-transform: uppercase;
      padding: 20px 0;
      @extend %DMSans-700;
   }
   &__text {
      color: $subsidiary;
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 35px;
   }
   &__form {
      display: flex;
   }
   &__input {
      padding: 10px 11px;
      border: none;
      background-color: $bg;
      max-width: 170px;
      line-height: 1;
      width: 100%;
      @extend %DMSans-400;
      &::placeholder {
         font-size: 12px;
         line-height: 16px;
         color: #234969;
         @extend %DMSans-400;
      }
   }
   &__btn {
      border: none;
      @extend %btn;
      @extend %DMSans-400;
   }
}

.footer-bottom {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 90px;
   &__list {
      display: flex;
   }
   &__list-item {
      padding-left: 32px;
   }
   &__list-item + .footer-bottom__list-item {
      position: relative;
      &::before {
         content: '';
         position: absolute;
         width: 1px;
         height: 16px;
         background-color: $subsidiary;
         top: 6px;
         left: 17px;
      }
   }
   &__list-link {
      color: $subsidiary;
      font-size: 14px;
   }
}

.slider-top {
   background-color: $dark-bg;
   padding-bottom: 45px;
   align-items: flex-end;
   background-image: url('../images/slider-eclipse.png');
   background-repeat: no-repeat;
   background-position: right 185px center;
   padding: 225px 0 45px;
   &__item {
      display: flex !important;
      justify-content: center;
      align-items: flex-end;
      // background: url('../images/slider-eclipse.png') no-repeat;
      // background-position: right center;
      padding-bottom: 204px;
   }
   &__content {
      margin-right: 123px;
   }
   &__title {
      color: #243f4d;
      font-size: 72px;
      line-height: 1;
      max-width: 415px;
      text-transform: uppercase;
      margin-bottom: 23px;
      @extend %rubik-500;
   }
   &__subtitle {
      font-size: 18px;
      margin-bottom: 40px;
      max-width: 360px;
   }
   &__btn {
      padding: 25px 102px 25px 29px;
      display: inline-block;
      font-size: 15px;
      @extend %rubik-500;
      @extend %btn;
      position: relative;
      &::after {
         content: '';
         position: absolute;
         width: 25px;
         height: 12px;
         background-image: url(../images/btn-arrow.svg);
         right: 9px;
         top: 50%;
         transform: translateY(-50%)
      }
   }
   &__img {
      height: 100%;
   }
   .slick-dots {
      display: flex;
      justify-content: center;
      li {
         padding: 0 5px;
         @extend %rubik-500;
         button {
            padding: 0;
            width: 30px;
            height: 30px;
            border: none;
            border-radius: 50%;
            text-align: center;
            color: #243f4d;
            font-size: 11px;
            line-height: 1;
            // background-color: rgba(255,255,255, 0.5);
            opacity: .3;
         }
      }
      .slick-active {
         button {
            opacity: 1;
         }
      }
   }
}

.slider-bottom {
   // display: flex;
   // justify-content: space-around;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   justify-content: space-around;
   background-color: $bg;
   &__item {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding: 45px 0;
   }
   &__item + .slider-bottom__item {
      border-left: 1px solid #e8e4df;
   }
   &__content {
      width: 220px;
      margin-left: 28px;
   }
   &__title {
      font-size: 18px;
      line-height: 1;
      color: #414141;
      margin-bottom: 15px;
   }
   &__text {
      font-size: 16px;
      line-height: 30px;
   }
   &__img-wrapper {
      position: relative;
      &::after {
         content: '';
         position: absolute;
         // display: block;
         width: 20px;
         height: 20px;
         border-radius: 50%;
         background-color: #dfe3e2;
         opacity: .35;
         bottom: -4px;
         right: -2px;
      }
   }
   &__img {
      height: 100%;
      width: 100%;      
   }
}

.products {
   padding: 65px 0 94px;
}

.products-top {
   padding-bottom: 85px;
   &__menu {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 30px;
      margin-bottom: 48px;
   }
   &__menu-btn {
    background-color: transparent;
    padding: 0;
    border: none;
    color: #8B8B8B;
    @extend %DMSans-700;
    transition: color .4s;
    &:hover {
      color: #1A1A1A;
    }
   }
   &__items {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      gap: 40px 30px;
   }
}

.products-item {
   text-align: center;
   max-width:  270px;
   width: 100%;
   height: 380px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
   border-radius: 10px;
   background-color: #fff;
   padding: 34px 15px;
   position: relative;
   &:hover {
      .products-item__link-box {
         opacity: 1;
      }
   }
   &__img-box {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
   }
   &__img {
      // margin: auto;
   }
   &__link-box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      column-gap: 16px;
      opacity: 0;
      transition: opacity .4s;
   }
   &__link {
      width: 45px;
      height: 45px;
      background-color: #fff;
      border-radius: 50%;
      border-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .4s;
      &:hover {
         path {
            fill: #fff
         }
         background-color: $second;
      }
   } 
   &__stars,
   &__text,
   &__buttons {
      display: none;
   } 

}
 
.products-item.products-item--list {
   max-width: 100%;
   text-align: left;
   height: 500px;
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 0;
   justify-content: flex-start;
   .products-item {
      &__img-box {
         height: 100%;
         max-width: 370px;
         width: 100%;
         display: flex;
      }
      &__name {
         font-size: 40px;
         @extend %rubik-400;
         margin-bottom: 15px;
         color: #333333;

      }
      &__img {
         min-width: 70%;
         object-fit: contain;
         max-width: 80%;
      }
      &__link-box {
         display: none;
      }
      &__info {
         padding: 83px 10px 75px 60px;
      }
      &__stars {
         display: block;
         margin-bottom: 25px;
      }
      &__text {
         display: block;
         margin-bottom: 30px;
      }  
      &__price {
         @extend %rubik-400;
         font-size: 30px;
         margin-bottom: 28px;
         color: #333333;
      }
      &__buttons {
         display: flex;
      } 
      &__btn {
         padding: 0;
         background-color: transparent;
         border: 1px solid $second;
         display: flex;
         justify-content: center;
         align-items: center;
         cursor: pointer;
         width: 50px;
         height: 50px;
         margin-right: 11px;
      }
      &__btn--active {
         background-color: $second;
         path {
            fill: #fff;
         }
      }
   }
}

.products-bottom {
   padding-top: 100px;
   &__inner {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      min-height: 390px;
      column-gap: 30px;
   }
   &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #feefe2;
      background-size: 100px;
      // padding: 45px 0;
   }
   &__img {
      margin-top: -180px;
      position: relative;
   }
   &__content {
      margin-left: 35px;
   }
   &__title {
      font-size: 26px;
      line-height: 32px;
      @extend %DMSans-700;
      color: #243f4d;
      margin-bottom: 25px;
      max-width: 250px;
   }
   &__descr {
      max-width: 340px;
      margin-bottom: 35px;
   }
   &__link {
      padding: 20px 85px 20px 12px;
      color: #436372;
      border: 1px solid #436372;
      border-radius: 5px;
      @extend %rubik-500;
      display: inline-flex;
      align-items: center;
      position: relative;
      transition: all .5s;
      &::after {
         position: absolute;
         content: '';
         width: 22px;
         height: 9px;
         background-image: url('../images/icons/dark-arrow.svg');
         right: 19px;
         top: 50%;
         transform: translateY(-50%);
      }
      &:hover {
         background-color: #fff;
      }
   }
}

.video-popup {
   padding: 200px 0;
   margin-bottom: 112px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url('../images/video-popup-bg.jpg');
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   &__link {
      position: relative;
      &:hover {
         &::after {
            transition: width .4s, height .4s;
            width: 127px;
            height: 127px;
         }
      }
   }
   &__link::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 0;
      height: 0;
      // background-color: #A3BBC8;
      border-radius: 50%;
      // opacity: 0.4;
      background-color: rgba(163,187,200,.4);
      z-index: 1;
   } 
   &__play {
      position: relative;
      z-index: 20;

   }
}

.design {
   padding: 100px 0 120px;
   @extend %DMSans-700;
   &__title {
      margin-bottom: 21px;
   }
   &__menu {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 25px;
      margin-bottom: 75px;
   }
   &__menu-btn {
     background-color: transparent;
     padding: 0;
     border: none;
     color: #8B8B8B;
     @extend %DMSans-700;
     transition: color .4s;
     &:hover {
       color: #1A1A1A;
     }
   }
   &__items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 34px 30px;
   }
   &__item {
      display: block;
      background-color: #f8f8f8;
      padding-top: 36px;
      padding-left: 39px;
      max-width: 370px;
      height: 246px;
      position: relative;
   }
   &__item-name {
      display: block;
      font-size: 20px;
      line-height: 24px;
      color: #1a1a1a;
      max-width: 175px;
      margin-bottom: 10px;
      transition: color .4s;
      &:hover {
         color: lighten($color: #1a1a1a, $amount: 30);
      }
   }
   &__item-collection {
      color: $second;
      transition: color .4s;
      &:hover {
         color: darken($color: $second, $amount: 30);
      }
   }
   &__img-wrap {
      max-width: 270px;
      position: absolute;
      bottom: 35px;
      right: 0;
   }
   &__item-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
   &__img-wrap--sm {
      right: 35px
   }
}

.blog {
   // padding-top: 135px;
   &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
   }
   &__title {
      color: #1A1A1A;
   }
   &__link {
      @extend %DMSans-700;
      color: #262626;
      padding-right: 25px;
      position: relative;
      &::after {
         position: absolute;
         content: '';
         background-image: url('../images/icons/arrow-right.svg');
         width: 6px;
         height: 11px;
         right: 0;
         top: 8px;
      }
   }
   &__items {
      display: flex;
      justify-content: space-between;
      // align-items: center;
      column-gap: 30px;
   }
}

.blog-item {
   max-width: 370px;
   border-radius: 5px;
   box-shadow: 0 6px 47px 3px rgb(37 37 37 / 5%);
   display: flex;
   flex-direction: column;
   &__img-box {
      position: relative;
   }
   &__img {
      height: 250px;
      object-fit: cover;
   }
   &__link-category {
      position: absolute;
      font-size: 14px;
      @extend %poppins-700;
      line-height: 20px;
      border-radius: 15px;
      background-color: $second;
      border: 1px solid transparent;
      color: #fff;
      padding: 5px 30px;
      transition: all .3s;
      bottom: -15px;
      left: 28px;
      &:hover {
         color: $second;
         background-color: #fff;
         border-color: $second;
      }
   }
   &__content {
      background-color: #fff;
      flex-grow: 2;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // height: 100%;
   }
   &__title-link {
      margin-bottom: auto;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-bottom: 10px;
   }
   &__title {
      font-size: 18px;
      line-height: 22px;
      color: #262626;   
      @extend %DMSans-500;
      transition: color .3s;
      &:hover {
         color: #a3bbc8
      }
   }
   &__info {
      display: flex;
      // justify-content: space-between;
      align-items: center;
      border-top: 1px solid #e0e0e0;
      padding-top: 18px;
   }
   &__date,
   &__author {
      padding-left: 18px;
      position: relative;
      color: #222933;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
   }
   &__date::before,
   &__author::before {
      position: absolute;
      content: '';
      width: 14px;
      height: 17px;
      left: 0;
      top: 0;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;

   }
   &__date::before {
      background-image: url('../images/icons/date.svg');
   }
   &__author::before {
      background-image: url('../images/icons/user.svg');
   }
   &__author {
      transition: color .3s;
      margin-left: 30px;
      &:hover {
         color: #a3bbc8
      }
   }
}

.blog--with-partners {
   margin-bottom: -172px;
}

.partners {
   background-color: $bg;
   padding: 78px 0 88px;
   &__list {
      display: flex;
      justify-content: space-around;
      align-items: center
   }
}

.partners--with-blog {
   padding-top: 264px;
}

.top {
   background-color: #edf1f4;
   padding: 26px 15px 32px;
}

.breadcrumbs {
   text-align: center;
   &__title {
      @extend %rubik-300;
      font-size: 36px;
      line-height: 42px;
      color: #222933;
      margin-bottom: 7px;
   }
   &__list {
      display: flex;
      justify-content: center;
   }
   &__list-item {
      color: #222933;
      opacity: 0.6;
      position: relative;
      padding-right: 20px;
   }
   &__list-item::after {
      position: absolute;
      content: '/';
      right: 6px;
      top: 0;
   }
   &__list-item:last-child {
      padding-right: 0;
      &::after {
         display: none;
      }
   }
   &__list-link {
      color: inherit;
      transition: color .3s;
      &:hover {
         color: lighten($color: #222933, $amount: 20);
      }
   }
}

.modal {
   padding: 118px 0 120px;
   max-width: 475px;
   margin: 0 auto;
   width: 100%;
   &__label {
      display: block;
      font-size: 14px;
      margin-bottom: 14px;
   }
   &__input {
      margin-top: 10px;
      display: block;
      width: 100%;
      height: 60px;
      padding: 15px 5px;
      border: 2px solid #F6F6F6;
   }
   &__btn {
      margin: 37px 0 32px;
      display: block;
      width: 100%;
      background-color: $second;
      border: none;
      font-size: 18px;
      line-height: 22px;
      color: #FFFEFE;
      padding: 19px 10px;
      cursor: pointer;
      @extend %rubik-500;
   }
   &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 30px;
      border-bottom: 2px solid #F6F6F6;
   }
   &__label-checkbox {
      font-size: 14px;
      display: flex;
      align-items: center;
      margin: 0;
      cursor: pointer;
   }
   &__error {
      font-size: 14px;
      color: $default;
   }
   &__regist-info {
      padding-top: 32px;
      text-align: center;
   }
   &__regist-text {
      margin-bottom: 22px;
      font-size: 14px;
   }
   &__regist-link {
      display: block;
      width: 100%;
      border: 2px solid $second;
      font-size: 18px;
      line-height: 22px;
      @extend %rubik-500;
      color: #243F4D;
      padding: 19px 10px;
   }
}

.terms {
   padding: 116px 0 100px;
   &__title {
      @extend %rubik-500;
      font-size: 24px;
      color: #243F4D;
      margin-bottom: 22px;
   }
   &__list {
      margin-bottom: 70px;
      margin-left: 30px;
   }
   &__list-item:not(:last-child) {
      margin-bottom: 20px;
   }
   &__list-item {
      list-style-type: decimal-leading-zero;
   }
   &__text:not(:last-child) {
      margin-bottom: 60px;
   }
}

.mission {
   padding: 120px 0;
   &__inner {
      padding: 32px 0 94px;
      background-repeat: no-repeat;
      background-size: 48%;
      background-position: left center;
   }
   &__content {
      max-width: 553px;
      margin-left: auto;
   }
   &__experience {
      display: flex;
      align-items: flex-end;
      margin-bottom: 30px;
   }
   &__experience-num {
      font-size: 140px;
      line-height: 1;
      margin-right: 34px;
      @extend %rubik-700;
      color: $second;
   }
   &__experience-text {
      max-width: 100px;
      margin-bottom: 15px;
      color: #243F4D;
   }
   &__title {
      text-align: left;
      color: #243F4D;
      margin-bottom: 37px;
   }
   &__text {
      margin-bottom: 60px;
   }
   &__items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding-top: 31px;
      position: relative;
      &::before {
         content: '';
         position: absolute;
         width: 90%;
         height: 2px;
         background-color: #09316F;
         opacity: 0.1;
         top: 0;
         left: 0;
      }
   }
   &__item-wrapper {
      display: flex;
      justify-content: center;
      &:not(:last-child) {
         border-right: 1px solid rgba(9, 49, 111, 0.1);;
      }
      &:first-child {
         justify-content: start;
      }
   }
   &__item {
      @extend %DMSans-700;
      color: #243f4d;
      font-size: 36px;
      line-height: 38px;
      padding-left: 60px;
      position: relative;
      &::before {
         position: absolute;
         content: '';
         left: 0;
         top: 7px;
         background-repeat: no-repeat;
      }
   }

   &__item--projects::before {
      background-image: url('../images/about/icons/paper.svg');
      width: 37px;
      height: 38px;
   }
   &__item--revenue::before {
      background-image: url('../images/about/icons/speaker.svg');
      width: 44px;
      height: 40px;
   }
   &__item--awards::before {
      background-image: url('../images/about/icons/award.svg');
      width: 42px;
      height: 41px;
   }

   &__item-achieve {
      font-size: 16px;
      line-height: 17px;
      color: #4c4c4c;
      display: block;
   }
}

.achievements {
   padding: 85px 0 80px;
   background-color: $dark-bg;
   &__items {
      display: flex;
      justify-content: space-around;
      align-items: stretch;
   }
   &__item {
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
      text-align: center;
      @extend %DMSans-700;
      color: #243f4d;

   }
   &__img-wrapper {
      margin-top: auto;
   }
   &__img {
      margin: 0 auto;
   }
   &__num {
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 11px;
      margin-top: 12px;
   }
   &__text {
      font-size: 18px;
      line-height: 32px;
      // margin-top: auto;
   }
}

.team {
   padding: 120px 0 110px;
   &__inner {
      display: flex;
      justify-content: space-between;
   }
   &__info {
      max-width: 306px;
      width: 100%;
   }
   &__title {
      text-align: left;
   }
   &__text {
      margin-bottom: 38px;
   }
   &__link {
      padding: 15px 65px 15px 22px;
      background-color: $second;
      border: 1px solid transparent;
      border-radius: 5px;
      color: #fff;
      @extend %poppins-600;
      position: relative;
      transition: all .3s;
      &::after {
         content: '';
         position: absolute;
         width: 15px;
         height: 11px;
         background-image: url('../images/icons/link-arrow-right.svg');
         background-repeat: no-repeat;
         top: 20px;
         right: 26px;
      }
      &:hover {
         background-color: #fff;
         border: 1px solid $second;
         border-radius: 5px;
         color: $second;
      }
   }
   &__items {
      display: flex;
      gap: 30px 40px;
      flex-wrap: wrap;
      justify-content: flex-end;
   }
   &__item {
      position: relative;
      padding-bottom: 60px;
   }
   &__img-wrapper {
      max-width: 370px;
      width: 100%;
      height: 320px;
      overflow: hidden;
   }
   &__img {
      object-fit: cover;
      width: 100%;
      height: 100%;
   }
   &__item-info {
      position: absolute;
      z-index: 2;
      padding: 24px 21px 27px 24px;
      background-color: #fff;
      left: -1px;
      bottom: 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   &__item-link {
      width: 41px;
      height: 41px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #F6F6F6;
      border-radius: 50%;
   }
   &__item-member {
      margin-right: 53px;
   }
   &__item-social {
      display: flex;
      align-items: center;
      column-gap: 7px;
   }
   &__item-name {
      @extend %DMSans-700;
      font-size: 22px;
      line-height: 26px;
      color: $default;
      margin-bottom: 10px;
   }
   &__item-occupation {
      color: #565872;
   }
}

.shop {
   padding: 115px 0 120px;
   &__inner {
      display: flex;
      // justify-content: space-between;
   }
}

.shop-filter {
   max-width: 270px;
   width: 100%;
   &__item {
      margin-bottom: 60px;
      width: 100%;
   }
   &__title {
      display: inline-block;
      @extend %DMSans-700;
      text-transform: uppercase;
      font-size: 18px;
      line-height: 21.6px;
      color: #243f4d;
      position: relative;
      padding-right: 55px;
      margin-bottom: 25px;
      &::after {
         content: '';
         position: absolute;
         width: 38px;
         height: 2px;
         background-color: $second;
         top: 50%;
         right: 0;
         transform: translateY(-50%);
      }
   }
}

.filter-category,
.filter-brand {
   &__label {
      display: block;
      margin-bottom: 5px;
      cursor: pointer;
   }
   &__input {
      @extend %checkbox-hidden;
      &:checked + .filter-category__checkbox {
         background-color: rgba(163, 187, 200, 0.2);
      }
      &:checked + .filter-brand__checkbox {
         background-color: rgba(163, 187, 200, 0.2);
         .filter-brand__amount {
            color: #243f4d;
         }
      }
   }
   &__checkbox {
      display: flex;
      justify-content: space-between;
      padding: 10px 15px;
      border-radius: 5px;
      transition: background-color .3s;
      &:hover {
         background-color: rgba(163, 187, 200, 0.2);;
      }
   }
   &__amount {
      color: #b3b3b3;
      text-align: center;
   }
}

.filter-price {
   &__range {
      display: flex;
      justify-content: space-between;
   }
}

.irs--flat .irs-line {
   top: 10px;
   height: 2px;
   background-color: rgba(163, 187, 200, 0.66);
   border-radius: 1px;
}

.irs--flat .irs-bar {
   top: 10px;
   height: 3px;
   background-color: $second;
}
.irs--flat .irs-handle>i:first-child {
   display: none;
}
.irs--flat .irs-handle {
   top: 4px;
   width: 15px;
   height: 15px;
   background-color: $second;
}

.filter-recent {
   &__item {
      display: flex;
      margin-bottom: 32px;
      color: #333333;
      @extend %rubik-400
   }
   &__img-wrapper {
      width: 70px;
      height: 70px;
   }
   &__img {
      object-fit: contain;
      width: 100%;
      height: 100%;
   }
   &__item-inner {
      padding: 0 5px 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }
   &__title {
      font-size: 14px;
      line-height: 1;
   }
   &__price {
      font-size: 15px;
      line-height: 1;
   }
}

.stars {
   padding: 0;
}

.shop-content {
   max-width: 870px;
   width: 100%;
   margin-left: 30px;
   &__inner {
      display: flex;
      flex-wrap: wrap;
      gap: 40px 30px;
      align-content: flex-end;
      margin-bottom: 75px;
   }
   &__view {
      padding: 15px 0;
      display: flex;
      align-items: center;
   }
   &__view-btn {
      padding: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;
      margin-right: 15px;
   }
   &__view-btn--active {
      path {
         fill: $second;
      }
   }
}

.product {
   padding: 120px 0 110px;
   &__inner {
      display: flex;
      margin-bottom: 70px;
   }
   
   &__content {
      padding: 21px 5px 45px 70px;
   }

   &__title {
      font-size: 40px;
      line-height: 47px;
      color: #333333;
      margin-bottom: 14px;
   }

   &__stars {
      padding: 0;
      margin-bottom: 20px;
   }

   &__price {
      font-size: 30px;
      line-height: 36px;
      color: #333333;
      margin-bottom: 20px;
   }

   &__text {
      color: #243F4D;
      margin-bottom: 30px;
   }
}

.product-slide {
   display: flex;
   &__thumbs {
      width: 140px;
      margin-right: 25px;
   }

   &__thumbs-item {
      width: 100%;
      height: 140px;
      cursor: pointer;
   }

   &__thumbs-img {
      object-fit: contain;
      width: 100%;
      height: 100%;
   }

   &__bigs {
      width: 387px;
      height: 530px;
   }

   &__bigs-item {
      width: 100%;
      height: 530px;
   }

   &__bigs-img {
      object-fit: scale-down;
      object-position: center center;
      width: 100%;
      height: 100%;
   }
   .slick-vertical .slick-slide {
      height: 140px;
      margin-bottom: 25px;
  }
}

.product-form {
   &__btn {
      @extend %btn;
      padding: 19px 51px;
      text-transform: uppercase;
      font-size: 15px;
      border: transparent;
      border-radius: 5px;
      letter-spacing: 0.08em;
      margin-left: 15px;
   }

   &__info {
      margin-top: 40px;
   }

   &__info-item {
      display: flex;
      color: #243F4D;
   }
   &__info-text {
      margin-left: 4px;
      a {
         color: inherit;
      }
   }
}

.jq-number {
   position: relative;
   vertical-align: middle;
   padding: 0;
}

.jq-number__field {
   width: 148px;
   height: 52px;
   border: 1px solid $second;
   border-bottom-color: $second;
   border-radius: 0;
   box-shadow: none;
}

.jq-number__field input {
   @extend %rubik-400;
   font-size: 15px;
   width: 100%;
   height: 100%;
   padding: 8px 9px;
   border: none;
   outline: none;
   background: none;
   color: #333;
   text-align: center;
}

.jq-number__spin {
   position: absolute;
   top: 0;
   right: 0;
   width: 33%;
   height: 100%;
   border: 1px solid $second;
   border-bottom-color: $second;
   border-radius: 0px;
   background: transparent;
   box-shadow:none;
   text-shadow: none;
   cursor: pointer;
   &:hover {
      background: transparent;
  }
}

.jq-number__spin.minus {
   top: 0;
   left: 0;
   bottom: 0;
}

.jq-number__spin.plus {
   top: 0;
   right: 0;
   bottom: 0;
}

.jq-number__spin:after {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 15px;
   width: 1em;
   height: 1em;
   border: none;
   display: flex;
   justify-content: center;
   align-items: center;
}

.jq-number__spin.minus:after {
   content: "-";
   top: 50%;
   left: 50%;
   // transform: translate(-50%, -50%);
   border: none;
}

.jq-number__spin.plus:after {
   content: "+";
   top: 50%;
   left: 50%;
   // transform: translate(-50%, -50%);
}

.product-tabs {

   &__top {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 13px;
      margin-bottom: 36px;
   }

   &__top-item {
      @extend %rubik-500;
      font-size: 18px;
      color: $title;
      width: 241px;
      height: 53px;
      text-align: center;
      line-height: 53px;
      background-color: #EDF1F4;
      border-radius: 5px;
      transition: all .3s;
      &--active {
         background-color: $second;
         color: #fff;
      }
   }   
   &__content-item {
      display: none;
      &.product-tabs__content-item--active  {
         display: block;
      }
   }
}

.related {
   padding-bottom: 110px;
   &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__title {
      text-align: left;
   }

   &__buttons {
      display: flex;
      column-gap: 20px;
   }
   
   &__btn {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 5px;
      border: 2px solid $second;
   }
   
   .products-item {
      display: flex !important;
      margin: 0 auto;
   }
}












 


@import 'media';

